.ashier{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

a{
    color: white;
}

a:hover{
    color: #CACBCB;
}

/* .lst{
    margin-left: 140px;
} */

.itemlst{
    margin-left: 30px;
}

.app{
    height: 209px;
}

.creation-filiere, .creation-module, .creation-tuteur, .creation-apprenant, .attribution-tuteur, .choix-etudiant, .suivi-tuteur, .choix-module{
    margin: auto !important;
}